@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background-image: linear-gradient(to bottom right, #16054d,#1a1c41);
	background-repeat: no-repeat;
	background-size: contain;
	margin-right:10%;
}

br{
	line-height: 0.5;
}

h1{
    font-family: 'agency fb';
    text-align: center;
    color: #fff200;
}

h2{
	font-family: 'Press Start 2P', cursive;
	margin-right:10%;
}

p{
	color: lightblue;
	
	display: inline;
}

h3{
	color: orange;
	margin-right:10%;
	}

a{
	color: linear-gradient(to bottom right, #b00b69, #420a55, #042069);
	font-family: times-new-roman;
}

/* The sidebar menu */
.sidebar {
    height: 45%; /* 0 height - change this with JavaScript */
    width: 0; /* 0 width - change this with JavaScript */
    max-width: 250px; /* limit the width of sidebar to 250 px*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #1a1c41;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable vertical scroll */
    padding-top: 3%; /* Place content 3% from the top */
    transition: 0.5s ease; /* 0.5 second transition effect to slide in the sidebar */
    
}

/* The sidebar links */
.sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #fdeca6;
        display: block;
        transition: 0.3s;
    }

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
            color: #f1f1f1;
        }

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: #fff200;
    }

.sidebar .closebtn:hover {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fdeca6;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #fff200;
    color: #1a1c41;
    padding: 1% 1.5%;
    border: none;
    border-radius: 10%;
}

.openbtn:hover {
        background-color: #fdeca6;
        border: 0.8% solid #fff200;
        color: black;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 320px) {
    .sidebar {
        padding-top: 15px;
        max-width: 100px;
    }

    .sidebar a {
        font-size: 18px;
    }

    /* The button used to open the sidebar */
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #fff200;
        color: #1a1c41;
        padding: 30% 45%;
        border: none;
        border-radius: 10%;
    }

    .openbtn:hover {
            background-color: #fdeca6;
            border: 0.8% solid #fff200;
            color: black;
        }
}

/* Style the search box */
#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 0px solid #ddd;
    background: radial-gradient(#16054d,#1a1c41);
    color: #fff200;
}

/* Style the navigation menu */
#myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style the navigation links */
#myMenu li a {
        padding: 12px;
        text-decoration: none;
        color: #fdeca6;
        display: block
    }

#myMenu li a:hover {
            background-color: #fdeca6;
            color: #1a1c41;
        }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to   {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to   {opacity: 1;}
}