@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
    font-family: 'vineta';
    src: url('fonts/vineta/vinetarg-webfont.woff2') format('woff2'),
         url('fonts/vineta/vinetarg-webfont.woff') format('woff'),
         url('fonts/vineta/vinetarg.tff') format('tff');
    font-weight: normal;
    font-style: normal;

}


body {
    background-image: linear-gradient(to bottom right, #16054d,#1a1c41);
	background-repeat: no-repeat;
	background-size: contain;
	margin-right:10%;
}

br{
	line-height: 0.5;
}

h1{
    font-family: 'agency fb';
    text-align: center;
    color: #fff200;
}

h2{
	font-family: 'Press Start 2P', cursive;
	margin-right:10%;
}

p{
	color: lightblue;
	
	display: inline;
}

h3{
	color: orange;
	margin-right:10%;
	}

a{
	color: linear-gradient(to bottom right, #b00b69, #420a55, #042069);
	font-family: times-new-roman;
}



/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #1a1c41;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
/* The sidebar links */
.sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #fdeca6;
        display: block;
        transition: 0.3s;
    }

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
            color: #f1f1f1;
        }

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: white;
    }

.sidebar .closebtn:hover {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fdeca6;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
        background-color: #fdeca6;
        color: #1a1c41;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}

/* Style the search box */
#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 0px solid #ddd;
    background: radial-gradient(#16054d,#1a1c41);
}

/* Style the navigation menu */
#myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style the navigation links */
#myMenu li a {
        padding: 12px;
        text-decoration: none;
        color: #fdeca6;
        display: block
    }

#myMenu li a:hover {
            background-color: #fdeca6;
            color: #1a1c41;
        }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}